@use '../../../styles/variables.scss' as var;

.form-field {
  border: 1px solid transparent;
  border-bottom: 1px solid var.$greyish-blue;
  transition: border .15s ease-in;
  border-radius: var.$border-radius;
  display: block;
  align-items: center;
  padding: .5rem 0 0;

  label {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  &:focus-within {
    border: 1px solid var.$pure-white;
  }

  &.has-error {
    border: 1px solid var.$red;
  }

  input {
    position: relative;
    z-index: 1;
    display: block;
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var.$pure-white;
    padding: 5px;
    margin-top: 5px;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 300;
    font-style: normal;
    caret-color: var.$red;

    &:focus-visible,
    &:focus,
    &:active {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: var.$greyish-blue;
    }

    &:disabled {
      color: var.$greyish-blue;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  height: 2rem;
}
