@use '../../../styles/variables.scss' as var;

section {
  background-color: var.$semi-dark-blue;
  padding: var.$base-margin;
  border-radius: var.$border-radius;
}

.body-content {
  overflow-x: scroll;

  @media screen and (min-width: var.$tablet-min-width) {
    overflow: hidden;
  }
}
