@use './variables.scss' as var;

.error {
  color: var.$red;
  font-size: var.$base-font-size;
  line-height: calc(var.$base-font-size * 1.2);
  font-weight: 300;
  font-style: normal;
}

button {
  &.fab {
    padding: 0;
    font-weight: 700;
    background-color: transparent;
  }

  &.cancel {
    background-color: transparent;

    &:hover {
      background-color: var.$red;
    }
  }

  &.delete {
    color: var.$red;
  }
  &.sub {
    color: var.$red;
  }
  &.add {
    color: var.$green;
  }

}
